* {
  box-sizing: border-box; }

html {
  font-size: 16px; }
  @media (max-width: 1150px) {
    html {
      font-size: 15px; } }
  @media (max-width: 550px) {
    html {
      font-size: 14px; } }

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #282f2f;
  overflow-x: hidden; }

.wrapper {
  max-width: 1240px;
  margin: auto;
  padding: 0 20px; }

#hero {
  background: linear-gradient(180deg, #056ad8 0%, #0664cb 100%);
  color: #fff;
  padding: 30px 0; }
  #hero .wrapper {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center; }
    @media (max-width: 1050px) {
      #hero .wrapper {
        flex-direction: column; } }
  #hero .masthead {
    margin-bottom: -30px;
    z-index: 100;
    position: relative;
    flex-direction: row; }
    #hero .masthead .logo img {
      width: 130px;
      height: auto; }
      @media (max-width: 550px) {
        #hero .masthead .logo img {
          width: 110px; } }
    #hero .masthead nav {
      width: 100%;
      display: flex;
      align-items: center; }
      #hero .masthead nav ul {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0; }
        #hero .masthead nav ul li {
          margin-left: 25px; }
          #hero .masthead nav ul li a {
            color: #fff;
            text-decoration: none;
            font-weight: bold; }
  #hero .intro {
    width: 48%;
    padding: 120px 0; }
    @media (max-width: 1050px) {
      #hero .intro {
        width: 100%;
        padding: 60px 0 80px; } }
    #hero .intro h1 {
      font-size: 2.25rem;
      line-height: 1.1;
      font-weight: 900;
      margin: 0; }
      @media (max-width: 550px) {
        #hero .intro h1 {
          font-size: 1.95rem; } }
    #hero .intro p {
      font-size: 1.2rem;
      opacity: 0.9; }
      @media (max-width: 750px) {
        #hero .intro p {
          font-size: 1.05rem; } }
    #hero .intro .buttons {
      margin: 25px 0 0; }
      #hero .intro .buttons a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        opacity: 0.9; }
        #hero .intro .buttons a:hover {
          opacity: 1; }
      #hero .intro .buttons a.cta {
        background: #00b95d;
        padding: 20px 23px;
        display: inline-block;
        margin: 0 5px 0 0;
        border-radius: 5px;
        opacity: 1;
        font-size: 1.1rem;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
        transition: 0.25s; }
        #hero .intro .buttons a.cta:hover {
          background: #00aa55;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 3px rgba(0, 0, 0, 0.24); }
      @media (max-width: 750px) {
        #hero .intro .buttons span {
          display: block;
          width: 100%;
          margin-top: 6px; } }
    #hero .intro .stats {
      background: rgba(0, 0, 0, 0.1);
      display: inline-flex;
      width: auto;
      padding: 15px 20px;
      border-radius: 5px;
      margin-top: 30px; }
      #hero .intro .stats .stat {
        width: 33.33%;
        font-size: 1.4rem;
        line-height: 1;
        font-weight: bold;
        border-right: solid 1px rgba(255, 255, 255, 0.1);
        margin-right: 20px;
        padding-right: 30px; }
        #hero .intro .stats .stat:last-child {
          padding-right: 0;
          margin-right: 0;
          border-right: 0; }
        #hero .intro .stats .stat span {
          display: block;
          font-weight: 400;
          opacity: 0.6;
          font-size: 0.9rem;
          margin-top: 3px; }
  #hero .demo {
    width: 48%;
    display: flex;
    align-items: center; }
    @media (max-width: 1050px) {
      #hero .demo {
        width: 100%;
        padding-bottom: 100px; } }
    #hero .demo .screenshot {
      padding: 8px;
      border-radius: 5px;
      background: #fff;
      position: relative;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      width: 100%; }
      #hero .demo .screenshot img {
        width: 100%;
        display: block; }
      #hero .demo .screenshot .callout {
        background: #fff;
        border-radius: 5px;
        display: inline-block;
        width: 75%;
        position: absolute;
        color: rgba(42, 51, 51, 0.95);
        font-size: 0.85rem;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
        #hero .demo .screenshot .callout:after {
          content: '';
          width: 20px;
          height: 20px;
          background: #fff;
          position: absolute;
          right: 30px;
          transform: rotate(45deg); }
        #hero .demo .screenshot .callout.callout-1 {
          padding: 15px;
          left: 16px;
          bottom: -32px; }
          #hero .demo .screenshot .callout.callout-1 .user {
            display: flex;
            align-items: center;
            margin-top: 10px; }
            #hero .demo .screenshot .callout.callout-1 .user img {
              width: 20px;
              height: 20px;
              border-radius: 50%;
              margin-right: 5px; }
        #hero .demo .screenshot .callout.callout-2 {
          padding: 15px;
          right: 16px;
          top: -32px; }
          #hero .demo .screenshot .callout.callout-2 .user {
            display: flex;
            align-items: center;
            margin-top: 10px; }
            #hero .demo .screenshot .callout.callout-2 .user img {
              width: 20px;
              height: 20px;
              border-radius: 50%;
              margin-right: 5px; }

#benefits {
  background: #f9fafa;
  padding: 0px 0 0px;
  position: relative;
  overflow: visible; }
  #benefits .wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    top: -50px;
    position: relative; }
    #benefits .wrapper .feature {
      width: 25%;
      padding: 10px; }
      @media (max-width: 1140px) {
        #benefits .wrapper .feature {
          width: 33.33%; } }
      @media (max-width: 750px) {
        #benefits .wrapper .feature {
          width: 50%;
          padding: 5px; } }
      @media (max-width: 350px) {
        #benefits .wrapper .feature {
          width: 100%; } }
      #benefits .wrapper .feature div {
        padding: 18px 22px 22px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.03), 0 1px 2px rgba(0, 0, 0, 0.06);
        height: 100%; }
        @media (max-width: 550px) {
          #benefits .wrapper .feature div {
            padding: 14px 18px 18px; } }
      #benefits .wrapper .feature img {
        width: 46px; }
        @media (max-width: 750px) {
          #benefits .wrapper .feature img {
            width: 36px;
            margin-bottom: 1px; } }
      #benefits .wrapper .feature h2 {
        margin: 2px 0 5px 0;
        font-size: 1.1rem;
        line-height: 1.15; }
        @media (max-width: 750px) {
          #benefits .wrapper .feature h2 {
            font-size: 1rem; } }
      #benefits .wrapper .feature p {
        margin: 0;
        color: rgba(42, 51, 51, 0.75);
        font-size: 0.9rem; }

#latest {
  background: #272b2f;
  color: #fff;
  padding: 40px 0 60px; }
  #latest h2 {
    margin: 0; }
  #latest p.lead {
    opacity: 0.8;
    margin: 3px 0 10px; }
  #latest .spinner {
    margin: 20px 0; }
    #latest .spinner > div {
      width: 0.75em;
      height: 0.75em; }
  #latest #threads-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px; }
    @media (max-width: 1000px) {
      #latest #threads-list {
        margin-right: -20px; } }
    @media (max-width: 750px) {
      #latest #threads-list {
        margin-right: -20px; } }
    #latest #threads-list a {
      text-decoration: none;
      width: 33%;
      padding-right: 20px;
      margin-top: 20px;
      cursor: pointer; }
      #latest #threads-list a:nth-child(n+10) {
        display: none; }
      @media (max-width: 1000px) {
        #latest #threads-list a {
          width: 50%; } }
      @media (max-width: 750px) {
        #latest #threads-list a {
          width: 100%;
          margin-top: 10px; }
          #latest #threads-list a:nth-child(n+7) {
            display: none; } }
      #latest #threads-list a:hover .thread {
        background: #1c2023; }
        #latest #threads-list a:hover .thread:after {
          background: #1c2023; }
      #latest #threads-list a .thread {
        background: #22262a;
        padding: 20px;
        color: #fff;
        text-decoration: none !important;
        border-radius: 5px;
        height: 100%;
        display: flex;
        transition: 0.25s;
        position: relative; }
        #latest #threads-list a .thread:after {
          content: '';
          width: 20px;
          height: 20px;
          background: #22262a;
          position: absolute;
          right: 30px;
          bottom: -5px;
          transform: rotate(45deg);
          transition: 0.25s; }
        #latest #threads-list a .thread div {
          width: calc(100% - 60px);
          flex: 1 0; }
        #latest #threads-list a .thread .title {
          font-weight: bold;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-bottom: 2px;
          width: 100%;
          max-width: 100%;
          display: block;
          line-height: 1;
          margin: 3px 0 0; }
        #latest #threads-list a .thread .meta {
          opacity: 0.8;
          font-size: 0.8rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
          max-width: 100%;
          display: block; }
        #latest #threads-list a .thread img {
          border-radius: 50%;
          width: 40px;
          min-width: 40px;
          height: 40px;
          margin-right: 15px; }

#features {
  background: #f9fafa;
  padding: 50px 0 110px; }
  #features .wrapper {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 1000px) {
      #features .wrapper {
        display: block; } }
    #features .wrapper .left {
      width: 49%; }
      #features .wrapper .left h2 {
        margin: 0; }
      @media (max-width: 1000px) {
        #features .wrapper .left {
          width: 100%; } }
      #features .wrapper .left p.lead {
        opacity: 0.8; }
      #features .wrapper .left .features {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px; }
        @media (max-width: 1000px) {
          #features .wrapper .left .features {
            margin: 0 -5px; } }
      #features .wrapper .left .feature {
        width: 50%;
        padding: 10px; }
        @media (max-width: 750px) {
          #features .wrapper .left .feature {
            width: 50%;
            padding: 5px; } }
        @media (max-width: 350px) {
          #features .wrapper .left .feature {
            width: 100%; } }
        #features .wrapper .left .feature div {
          padding: 18px 22px 22px;
          background: #fff;
          border-radius: 5px;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.03), 0 1px 2px rgba(0, 0, 0, 0.06);
          height: 100%; }
          @media (max-width: 550px) {
            #features .wrapper .left .feature div {
              padding: 14px 18px 18px; } }
        #features .wrapper .left .feature img {
          width: 46px; }
          @media (max-width: 750px) {
            #features .wrapper .left .feature img {
              width: 36px;
              margin-bottom: 1px; } }
        #features .wrapper .left .feature h2 {
          margin: 2px 0 5px 0;
          font-size: 1.1rem;
          line-height: 1.15; }
          @media (max-width: 750px) {
            #features .wrapper .left .feature h2 {
              font-size: 1rem; } }
        #features .wrapper .left .feature p {
          margin: 0;
          color: rgba(42, 51, 51, 0.75);
          font-size: 0.9rem; }
    #features .wrapper .right {
      width: 49%; }
      @media (max-width: 1000px) {
        #features .wrapper .right {
          width: 100%;
          margin-top: 20px; } }
      #features .wrapper .right .app {
        background: linear-gradient(180deg, #056ad8 0%, #0664cb 100%);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.03), 0 1px 2px rgba(0, 0, 0, 0.06);
        border-radius: 5px;
        padding: 30px;
        color: #fff;
        overflow: hidden;
        position: relative; }
        #features .wrapper .right .app h2 {
          margin: 0; }
        #features .wrapper .right .app a {
          font-weight: bold;
          color: #fff;
          text-decoration: none; }
        #features .wrapper .right .app .screenshot {
          padding: 5px;
          background: #fff;
          border-radius: 5px;
          float: right;
          position: relative;
          margin-right: -100px;
          margin-left: 30px;
          height: 100%;
          overflow: hidden;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          width: 300px;
          height: 390px; }
          #features .wrapper .right .app .screenshot img {
            width: 100%; }
        @media (max-width: 500px) {
          #features .wrapper .right .app {
            padding: 20px; }
            #features .wrapper .right .app .screenshot {
              display: block;
              width: 100%;
              margin: 0 auto 20px;
              height: 200px; } }

#footer {
  background: #272b2f;
  padding: 40px 0; }
  #footer .cta {
    margin: -100px 0 40px;
    background: #00b95d;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 20px;
    text-decoration: none;
    transition: 0.25s;
    line-height: 1.1; }
    #footer .cta:hover {
      background: #00aa55;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 3px rgba(0, 0, 0, 0.24); }
    #footer .cta h2 {
      margin: 0 0 12px 0; }
    #footer .cta p {
      margin: 0 0 5px 0;
      padding: 0;
      opacity: 0.9; }
    #footer .cta .fake-button {
      background: #fff;
      display: inline-block;
      padding: 10px 15px;
      color: #00b95d;
      font-weight: bold;
      border-radius: 5px;
      margin-top: 10px; }
  #footer .wrapper {
    flex-direction: row;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 600px) {
      #footer .wrapper {
        flex-direction: column;
        justify-content: flex-start; } }
    #footer .wrapper .logo img {
      width: 130px;
      height: auto; }
      @media (max-width: 550px) {
        #footer .wrapper .logo img {
          width: 110px; } }
    #footer .wrapper nav {
      width: 100%;
      display: flex;
      align-items: center; }
      #footer .wrapper nav ul {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0; }
        @media (max-width: 600px) {
          #footer .wrapper nav ul {
            justify-content: flex-start;
            margin-top: 10px;
            font-size: 0.8rem; } }
        #footer .wrapper nav ul li {
          margin-left: 25px; }
          @media (max-width: 600px) {
            #footer .wrapper nav ul li {
              margin-right: 25px;
              margin-left: 0; } }
          #footer .wrapper nav ul li a {
            color: #fff;
            text-decoration: none;
            font-weight: bold; }

.spinner {
  width: 100%;
  text-align: left;
  opacity: 0.5;
  margin: -4px 0 6px 0; }

.spinner > div {
  width: 0.5em;
  height: 0.5em;
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both; }

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
